/* Общие стили */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

a, .btn-link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

    a:hover, .btn-link:hover {
        color: #0056b3;
    }

/* Стили для заголовков */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #333;
    animation: fadeInUp 0.8s ease-in-out;
}

/* Стили для кнопок */
.btn {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s;
}

.btn-primary {
    background-color: #17a2b8;
    color: #fff;
    padding: 14px 28px;
    font-size: 18px;
    animation: scaleUp 0.5s ease-in-out;
}

    .btn-primary:hover {
        background-color: #138496;
    }

/* Стили для изображений */
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.4s ease-in-out;
}

    .img-fluid:hover {
        transform: scale(1.05);
    }

/* Стили для медиа-контейнеров */
.media {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    background-color: #fff;
    padding: 32px;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.8s ease-in-out;
}

.media-body {
    flex: 1;
    margin-left: 32px;
}

/* Стили для цен */
.price-container {
    display: flex;
    align-items: center;
    margin-top: 18px;
    animation: slideInRight 0.5s ease-in-out;
}

.price {
    color: #28a745;
    font-size: 2.4rem;
    font-weight: 600;
    margin-right: 18px;
}

.original-price {
    color: #dc3545;
    font-size: 1.6rem;
    text-decoration: line-through;
}

/* Стили для формы выбора */
.form-control {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    transition: border-color 0.3s ease-in-out;
    font-size: 18px;
    animation: slideInUp 0.5s ease-in-out;
}

    .form-control:focus {
        border-color: #17a2b8;
        box-shadow: 0 0 0 0.3rem rgba(23, 162, 184, 0.25);
    }

/* Анимации */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(15px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(15px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
